    </main>
    
    <footer>
        <hr>
        CST336 Internet Programming. 2025&copy; Um
        <br>
        <strong>Disclaimer:</strong> The contents of this webpage is strictly for academic use only.
        <br>
        <figure>
            <img src="/img/logo.png" alt="CSUMB Logo">
        </figure>
    </footer>
</body>
</html>
