<%- include('partials/header') %>

<div id="info">
    <div id="heading">
        Welcome to the topics of Computer Science!<br>
    </div>
    
    Here you will find various topics that are essential to the field of Computer Science.<br><br>
    
    <figure>
        <img src="/img/cs.png" alt="Computer Science Image">
    </figure>
    
    <p class="background_info">
        In an ever evolving world of technology, Computer Science plays a large role in shaping how we communicate, work, and live. It spans a wide span of different topics, from the algorithms that powers of social media platforms to the way it ensures out personal information is protected. As the Internet of Things (IoT) continues to advance, Computer Science plays a large role in connecting the physical and digital worlds. Things like self-driving cars, smartphones, and more, are all embedded with software, sensors, and connectivity to allow the exchanging of data. A thorough understanding is essential for anyone interested in the future of technology. Please select a topic above to get more read more about it.
    </p>
</div>

<%- include('partials/footer') %>
