<%- include('partials/header') %>

<div id="info">
    <div id="heading">
        Practice to Become a Stronger Programmer<br>
    </div>
</div>

<!-- Display another inspirational quote from Node Package -->
<div style="background-color: rgba(255, 255, 255, 0.5); 
            padding: 20px; 
            margin: 20px auto; 
            max-width: 600px; 
            border-radius: 10px; 
            box-shadow: 0 2px 10px rgba(0,0,0,0.1);">
    <h3 style="margin-top: 0;">Motivation for Practice (from inspirational-quotes package)</h3>
    <p style="font-style: italic; font-size: 1.1em; margin: 10px 0;">"<%= quote.quote %>"</p>
    <p style="text-align: right; color: #666;">- <%= quote.author %></p>
</div>

<figure id="images">
    <img src="/img/practice.gif" alt="Baking requires steps done in order to be successful, like programming">
</figure>

<div class="article">
    <p>
        When people first start learning how to program, they may feel overwhelmed by the amount of information they need to take in. Programming requires a lot of practice to become proficient. Just like learning any new skill, the more time and effort you put into practicing programming, the better you will become at it. Without any prior experience, programming may seem like such a foreign and daunting task. However, people might not even realize that performing everyday activities involves programming-like thinking.
    </p>

    <p>
        Every experienced programmer will learn the practice of pseudocode. Pseudocode is a planning practice that involves writing out the steps needed to complete a task in plain English prior to coding. This is helpful in breaking down complex problems into more manageable steps. It is also helpful in identifying flaws in logic before any code is written. In fact, many could argue that pseudocode is the most important step in programming and where the bulk of the work lies. With this being said, good practice for a programmer is to get better at pseudocode.
    </p>

    <p>
        The best part of pseudocode is that it can be applied to everyday tasks. For example, think about the steps you would give someone is about to shower on their own for their first time. If you tell them to just turn on the water and get in, they would most likely get in the shower and immediately jump out drenched because they water was too cold. Did they do anything wrong? No, they simply followed your instructions which happened to be incomplete. This is the same way a computer works and why programmers must carefully craft the logic. A better set of instructions would be to first turn on the water and adjust the temperature to their liking, testing it with their hand, prior to getting in. Of course, you might already realize there are other steps missing. The next time you go to shower, try acting out the steps exactly as you would instruct it. Find the gaps in your instructions and refine them.
    </p>

    <p>
        One of the more relatable examples of pseudocode in everyday life is baking a cake. Despite how different they may seem, baking is very similar to how programming works because once it goes in the oven, there is no going back. Any ingredient forgotten or step missed could lead to a failed dish. The order the steps are executed in is also very important. In this case, the oven is your compiler- it will not question if all the ingredients are there or if the steps were followed correctly, it will simply execute what it is given. This is why it is good practice for programmers to plan out their code effectively. It helps prevent errors and ensures the desired outcome is achieved.
    </p>

    <p>
        Every mundane task can be broken down into smaller steps that can be translated into pseudocode. Try practicing this skill in your daily life, whether it is for getting ready for the day, making a meal, or driving somewhere. Be curious about the different electronics you constantly use and the programming behind them. The more you practice thinking like a programmer, the easier it will become to write actual code when the time comes.
    </p>
</div>

<div class="references">
    <h3>References</h3>
    <ul>
        <li>
            C, DaNeil. "Coding vs Baking a Cake?" DEV Community, 16 Mar. 2021, dev.to/caffiendkitten/how-is-coding-like-baking-a-cake-4fa.
        </li>
    </ul>
</div>

<%- include('partials/footer') %>
